@font-face {
    font-family: 'AlibabaPuHuiTi';
    src: url('https://cliffy2000.github.io/PuHuiTi-v2/AlibabaPuHuiTi-2-55-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p {
    margin: 0;
}

.app {
    width: 100%;
    height: 100%;
    min-width: 370px;
    max-width: 600px;
    min-height: 700px;
    max-height: 1000px;
    border-radius: 30px;
    margin: 0;
    background-color: #FA94A6;
    font-size: 17px;
    font-family: "AlibabaPuHuiTi", sans-serif;
}

.appHeader {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.appHeader p {
    color: white;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1.2px;
}

.returnButton {
    position: absolute;
    top: 30px;
    left: 25px;
    font-size: 28px;
    font-weight: bold;
    display: none;
    margin: 0;
}

.mainWindow {
    position: relative;
    height: calc(100% - 90px - 80px);
    background-color: #8c8c8c;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */
}

.mainWindow::-webkit-scrollbar {
    display: none;
}

.chatPreviewList {
    display: grid;
    grid-row-gap: 1px;
}

.chatPreview {
    display: flex;
    width: 100%;
    background-color: #F4F7F8;
    height: 100px;
    overflow: hidden;
}

.previewImg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewImg img {
    border-radius: 50%;
    height: 80%;
}

.previewText {
    flex: 2;
    padding: 20px 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.previewName {
    font-size: 18px;
    font-weight: bold;
}

.previewMessage {
    overflow: hidden;
}

.appFooter {
    height: 80px;
    background-color: #4c5b6f;
    border-radius: 0 0 30px 30px;
    display: flex;
}

.chat, .diy {
    flex: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.chat,.diy p {
    color: white;
    font-size: 18px;
    letter-spacing: 0.25px;
    padding-top: 20px;
}

.chat {
    background-color: #68788F;
    border-radius: 0 0 0 30px;
}

.diy {
    border-radius: 0 0 30px 0;
}

.chatScreen {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100%;
    background-color: #F4F7F8;
    padding: 10px;
    padding-right: 12px;
    box-sizing: border-box;
}

.chatRowWithIcon {
    display: flex;
    width: 100%;
    min-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chatRow {
    display: flex;
    width: 100%;
    min-height: 50px;
    margin-bottom: 10px;
}

.chatRowIcon {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.chatRowIcon img {
    height: 90%;
    max-height: 58px;
    border-radius: 50%;
}

.chatRowTextCol {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.chatRowName {
    font-weight: bold;
    font-size: 18px;
}

.chatRowText {
    border-radius: 7px;
    color: white;
    background-color: #4C516D;
    padding: 8px;
    line-height: 24px;
    max-width: 80%;
    position: relative;
    margin-right: auto;
}

.chatRowText:before {
    border-color: transparent #4C516D transparent transparent;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    content: "";
    display: block;
    height: 0;
    left: -4px;
    position: absolute;
    top: 9px;
    width: 0;
}

.chatRowImg {
    width: 170px;
    height: 170px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatRowImgWrapper {
    width: 95%;
    height: 95%;
}

.chatRowImgWrapper img {
    width: 100%;
}

.chatTypingDotsCol {
    flex: 4;
    display: flex;
    padding-left: 15px;
    align-items: center;
}

.chatTypingDots {
    display: flex;
    align-items: center;
    border-radius: 7px;
    background-color: #4C516D;
    padding: 20px 12px;
    height: 24px;
    position: relative;
    margin-right: auto;
}

.chatTypingDots:before {
    border-color: transparent #4C516D transparent transparent;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    content: "";
    display: block;
    height: 0;
    left: -4px;
    position: absolute;
    top: 9px;
    width: 0;
}

.typingDot1, .typingDot2, .typingDot3 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 3px;
    animation: blink 0.75s infinite;
}

.typingDot1 {
    background-color: white;
    animation-delay: 0s;
}

.typingDot2 {
    background-color: white;
    animation-delay: 0.25s;
}

.typingDot3 {
    background-color: white;
    animation-delay: 0.5s;
}

@keyframes blink {
    50% {
        opacity: 0.3;
    }
}

.optionsRow {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
}

.optionsRowContent {
    min-width: 45%;
    max-width: 85%;
    color: #60687a;
    box-sizing: border-box;
    background-color: #E0ECF3;
    border-radius: 7px;
    border: 1px solid #D3D8DE;
    padding: 7px;
    padding-top: 5px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: column;
}

.optionsHeaderText {
    position: relative;
    border-bottom: 1px solid #D3D8DE;
    padding-left: 7px;
}

.optionsHeaderText:before {
    position: absolute;
    content: "";
    width: 3px;
    height: 60%;
    top: 20%;
    left: 0;
    background-color: #4b90d5;
}

.optionsHeaderText p {
    padding-bottom: 3px;
    font-size: 16px;
    font-weight: bold;
}

.optionSelector {
    margin-top: 5px;
}

.option {
    border: 1px solid #D3D8DE;
    border-radius: 8px;
    padding: 4px 7px;
    text-align: center;
    box-shadow: 0px 2px 3px -2px #444444;
    margin-bottom: 5px;
    background-color: #fbfbff;
}

.responseRow {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

.responseRowContent {
    color: #60687a;
    box-sizing: border-box;
    border-radius: 7px;
    color: white;
    background-color: #3F76BA;
    padding: 8px;
    line-height: 24px;
    max-width: 85%;
    margin-right: 5px;
    display: inline-flex;
    justify-content: flex-end;
}

.responseRow:before {
    border-color: transparent transparent transparent #3F76BA;
    border-style: solid;
    border-width: 6px 0px 6px 6px;
    content: "";
    display: block;
    height: 0;
    right: 0.5px;
    position: absolute;
    top: 9px;
    width: 0;
}

.diyHomePage {
    width: 100%;
    height: 100%;
    background-color: #F4F7F8;
    display: none;
}

.diyChatList {
    width: 100%;
    height: 82.5%;
    overflow-y: auto;
    overflow-x: hidden;
}

.diyChatListHeader {
    height: 40px;
    display: flex;
    align-items: center;
}

.diyChatListHeader p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 2px;
}

.diyChats {
    height: calc(100% - 40px);
}

.diyDirectMessagesHeader {
    background-color: #E7F1F7;
    border-top: 1px solid #D6E2E9;
    border-bottom: 1px solid #D6E2E9;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    position: relative;
}

.diyDirectMessagesHeader p {
    font-size: 14px;
    font-weight: bold;
    color: #404349;
    margin-left: 30px;
}

.diyDirectMessagesHeader p::before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 15px;
    background-color: #55BAF9;
    left: 18px;
    top: 7px;
}

.diyGroupChatsHeader {
    background-color: #E7F1F7;
    border-top: 1px solid #D6E2E9;
    border-bottom: 1px solid #D6E2E9;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    position: relative;
}

.diyGroupChatsHeader p {
    font-size: 14px;
    font-weight: bold;
    color: #404349;
    margin-left: 30px;
}

.diyGroupChatsHeader p::before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 15px;
    background-color: #55BAF9;
    left: 18px;
    top: 7px;
}

.diyButtonsPanel {
    width: 100%;
    height: 17.5%;
    background-color: #EEEEEE;
}

.diyButtonsHeader {
    height: 35px;
    display: flex;
    align-items: flex-end;
}

.diyButtonsHeader p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 4px;
}

.diyButtonsWrapper {
    display: flex;
    flex-direction: row;
    height: calc(100% - 35px);
}

.diyButtonsCreate {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.diyBasicMode, .diyAdvancedMode, .diyImportButton {
    background-color: #D8E8EF;
    color: #404349;
    font-weight: bold;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    border-radius: 5px;
    margin-top: 5%;
    cursor: pointer;
}

.diyImportButton {
    margin-right: 5%;
}

.diyImport {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.studentSelectPanel {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    background-color: #003153;
    border-radius: 15px;
    padding: 20px;
    color: white;
}

.studentSelectPanelHeader {
    height: 8%;
    display: flex;
}

.studentSelectPanelHeaderText {
    flex: 1;
}

.studentSelectIconGrid {
    height: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.studentSelectIconGrid::-webkit-scrollbar {
    display: none;
}

.studentSelectPanel img {
    width: 100%;
    border-radius: 50%;
}

.diyBasicScreen {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
}

.diyBasicDataScreen {
    height: 87.5%;
    padding-top: 10px;
    background-color: white;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.diyBasicDataScreen::-webkit-scrollbar {
    display: none;
}

.diyBasicInputBar {
    height: 12.5%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.diyBasicInputIcon {
    text-align: center;
    min-width: 25%;
}

.diyBasicInputIcon img {
    height: 55%;
    border-radius: 50%;
    cursor: pointer;
}

.diyBasicInputWindow {
    position: relative;
    min-width: 50%;
}

.diyBasicInputWindow:before {
    border-color: transparent white transparent transparent;
    border-style: solid;
    border-width: 6px 8px 6px 0;
    content: "";
    display: block;
    height: 0;
    left: -8px;
    position: absolute;
    top: 30%;
    width: 0;
}

.diyBasicInput {
    border: none;
    height: 50%;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
    max-width: 50%;
}

.diyBasicInputSend {
    min-width: 25%;
}

.diyBasicInsertBar {
    height: 12.5%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.diyBasicInsertIcon img {
    height: 55%;
    border-radius: 50%;
    cursor: pointer;
}

.diyBasicInsertWindow {
    position: relative;
}

.diyBasicInsertWindow:before {
    border-color: transparent white transparent transparent;
    border-style: solid;
    border-width: 6px 8px 6px 0;
    content: "";
    display: block;
    height: 0;
    left: -8px;
    position: absolute;
    top: 30%;
    width: 0;
}

.diyBasicInsert {
    border: none;
    height: 50%;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
}

.diyBasicEditBar {
    height: 12.5%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.diyBasicEditIcon img {
    height: 55%;
    border-radius: 50%;
    opacity: 0.75;
}

.diyBasicEditWindow {
    position: relative;
}

.diyBasicEditWindow:before {
    border-color: transparent white transparent transparent;
    border-style: solid;
    border-width: 6px 8px 6px 0;
    content: "";
    display: block;
    height: 0;
    left: -8px;
    position: absolute;
    top: 30%;
    width: 0;
}

.diyBasicEdit {
    border: none;
    height: 50%;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
}

.diyBasicButtonSmall, .diyBasicButtonLarge {
    width: 17.5%;
    background-color: #90DBFA;
    color: #003153;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.diyBasicButtonLarge {
    width: 40%;
}

.diyBasicDataIconRow {
    display: flex;
    width: 100%;
    min-height: 70px;
}

.diyBasicDataRow {
    display: flex;
    width: 100%;
    min-height: 45px;
}

.diyBasicStudentRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.diyBasicStudentRowIcon {
    flex: 1;
    display: flex;
}

.diyBasicStudentRowIcon img {
    height: 55px;
    border-radius: 50%;
}

.diyStudentLineName {
    color: #003153;
}

.diyBasicStudentRowLine {
    flex: 4;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.diyStudentLineText, .diyStudentLineTextPointed {
    border-radius: 7px;
    color: white;
    background-color: #4C516D;
    padding: 8px;
    line-height: 24px;
    max-width: 80%;
    position: relative;
}

.diyStudentLineTextPointed:before {
    border-color: transparent #4C516D transparent transparent;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    content: "";
    display: block;
    height: 0;
    left: -4px;
    position: absolute;
    top: 9px;
    width: 0;
}

.diyBasicUserRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.diyUserLineText, .diyUserLineTextPointed {
    border-radius: 7px;
    color: white;
    background-color: #3F76BA;
    padding: 8px;
    line-height: 24px;
    max-width: 80%;
    position: relative;
    margin-right: 15px;
}

.diyUserLineTextPointed:before {
    border-color: transparent transparent transparent #3F76BA;
    border-style: solid;
    border-width: 6px 0px 6px 6px;
    content: "";
    display: block;
    height: 0;
    right: -4.5px;
    position: absolute;
    top: 9px;
    width: 0;
}

.diyBasicButtonBar {
    height: 12.5%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.on-top {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}

.hide-all > *:not(.on-top) {
    display: none;
}
