<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="common.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="common.js"></script>
</head>

<body>
    <div class="app">
        <div class="appHeader">
            <p class="returnButton"><</p>
            <p>MomoTalk</p>
        </div>

        <div class="mainWindow">
            <div class="chatPreviewList">
            
            </div>
        </div>

        <div class="appFooter">
            <div class="chat">
                <p>Chat</p>
            </div>
            <div class="contacts">
                <p>Contacts</p>
            </div>
        </div>
    </div>
</body>
</html>
