<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="common.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="common.js"></script>
</head>

<body>
    <div class="app">
        <div class="appHeader">
            <p>MomoTalk</p>
        </div>

        <div class="mainWindow">
            <div class="chatPreviewList"></div>
            <div class="diyHomePage">
                <div class="diyChatList">
                    <div class="diyChatListHeader">
                        <p>对话列表</p>
                    </div>
                    <div class="diyChats">
                        <div class="diyDirectMessages">
                            <div class="diyDirectMessagesHeader"><p>私聊</p></div>
                        </div>
                        <div class="diyGroupChats">
                            <div class="diyGroupChatsHeader"><p>群聊</p></div>
                        </div>
                    </div>

                </div>
                <div class="diyButtonsPanel">
                    <div class="diyButtonsHeader">
                        <p>新建</p>
                    </div>
                    <div class="diyButtonsWrapper">
                        <div class="diyButtonsCreate">
                            <div class="diyBasicMode">
                                <p>简易版</p>
                            </div>
                            <div class="diyAdvancedMode">
                                <p>完整版</p>
                            </div>
                        </div>
                        <div class="diyImport">
                            <div class="diyImportButton">
                                <p>导入</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="appFooter">
            <div class="chat">
                <p>Chat</p>
            </div>
            <div class="diy">
                <p>DIY</p>
            </div>
        </div>
    </div>
</body>

</html>