.loader {
    display: none;
}

.StudentProfileHeader {
    margin: 35px auto;
    width: 150px;
    text-align: center;
    font-size: 36px;
    color: #4682B4;
    font-family: "AlibabaPuHuiTi", sans-serif;
}

.StudentProfile {
    font-size: 13px;
    font-family: "AlibabaPuHuiTi", sans-serif;
    margin: auto;
    background-color: #C6E9FF;
    box-shadow: 5px 5px 4px grey;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 4px;
}

.StudentProfile .page-inner {
    position: relative;
    width: 95%;
    margin: auto;
    padding: 60px 40px;
    margin: auto;
    min-height: 600px;
    background-color: white;
    border: 7px solid #EEEEEE;
    border-radius: 3px;
    box-shadow: 1px 2px 2px grey;
}

.StudentProfile .upperRightIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
}

.StudentProfile .decoration1 {
    position: absolute;
    right: -10px;
    bottom: -30px;
}

.wiki-header,
.firstHeadingTools,
.post-content {
    max-width: 1100px;
    margin: auto;
}

.studentProfileSkillTable {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

@media screen and (max-width: 599px) {
    .studentProfile {
        min-width: 350px;
        padding-top: 10px;
    }

    .studentProfile .page-inner {
        padding: 20px 10px;
        width: 95%;
    }

    .studentProfileSkillTable {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .StudentProfile .upperRightIcon {
        width: 120px;
    }
}

@media screen and (min-width: 600px) {
    .StudentProfile {
        width: 950px;
    }
}