<div class="loader">StudentProfileObtainAndEquipment.css</div>
<div class="loader">StudentProfileObtainAndEquipment.js</div>
<div class="studentProfileObtainAndEquipmentWrapper">
    <div class="variables" style="display: none">
        <div class="equipment1">{{{装备1}}}</div>
        <div class="equipment2">{{{装备2}}}</div>
        <div class="equipment3">{{{装备3}}}</div>
    </div>
    <div class="obtainAndEquipment">

        <div class="obtain">
            <div class="titleContainer">
                <div class="obtainTitle">获取方式</div>
            </div>
            <div class="obtainText">
                <p>{{{获取方式}}}</p>
            </div>
            <div class="implementationTitle">角色实装日期</div>
            <div>
                <p>日服：{{{日服实装}}}</p>
                <p>国际服：{{{国际服实装}}}</p>
            </div>
        </div>


        <div class="equipment">
            <div class="titleContainer">
                <div class="equipmentTitle">装备</div>
            </div>
            
            <div class="equipmentFirstRow">
                <div class="equipmentLeftCol">Lv.</div>
                <div class="equipmentTableColHeader">
                    <p>5</p>
                </div>
                <div class="equipmentTableColHeader">
                    <p>15</p>
                </div>
                <div class="equipmentTableColHeader">
                    <p>35</p>
                </div>
                <div class="equipmentRightCol">
                    <p>解锁</p>
                </div>
            </div>

            <div class="equipmentSecondRow"></div>

            <div class="equipmentTierSwapper">
                <div class="equipmentCurrentTier">T&nbsp;1</div>
                <div class="equipmentTierSelector">
                    <div class="equipmentTierButton" style="opacity: 0">1</div>
                    <div class="equipmentTierButton">2</div>
                    <div class="equipmentTierButton">3</div>
                    <div class="equipmentTierButton">4</div>
                    <div class="equipmentTierButton">5</div>
                    <div class="equipmentTierButton">6</div>
                    <div class="equipmentTierButton">7</div>
                    <div class="equipmentTierButton">8</div>
                </div>
            </div>
        </div>
    </div>
</div>