<div class="loader">StudentProfile.css</div>
<div class="loader">StudentProfile.js</div>
<div class="StudentProfileHeader>学生图鉴</div>
<div class="StudentProfile">
  <div class="page-inner>
    <div class="decoration1">[[File:Decoration1.png|link=]]</div>
    <div class="upperRightIcon">[[File:StudentProfileBGAsset1.png|link=]]</div>
    {{StudentProfileBasicInfo
        |姓={{{姓}}}
        |名={{{名}}}
        |星级数={{{星级数}}}
        |中文名={{{中文名}}}
        |声优={{{声优}}}
        |设计原画={{{设计原画}}}
        |差分={{{差分}}}
        |立绘={{{立绘}}}
        |立绘2={{{立绘2}}}
        |回忆大厅={{{回忆大厅}}}
        |动态壁纸={{{动态壁纸}}}
        |所属学院={{{所属学院}}}
        |社团={{{社团}}}
        |生日={{{生日}}}
        |学年={{{学年}}}
        |年龄={{{年龄}}}
        |身高={{{身高}}}
        |兴趣={{{兴趣}}}
    }}
    {{StudentProfileDetailedInfo
        |基本情报概括={{{基本情报概括}}}
        |基本情报={{{基本情报}}}
        |队伍={{{队伍}}}
        |角色定位={{{角色定位}}}
        |位置={{{位置}}}
        |攻击类型={{{攻击类型}}}
        |防御类型={{{防御类型}}}
        |掩体={{{掩体}}}
        |市街={{{市街}}}
        |室外={{{室外}}}
        |室内={{{室内}}}
        |强化地形={{{强化地形}}}
        |强化={{{强化}}}
        |武器类型={{{武器类型}}}
        |武器名称={{{武器名称}}}
        |武器概括={{{武器概括}}}
        |武器介绍={{{武器介绍}}}
        |武器图片={{{武器图片}}}
        |武器2星={{{武器2星}}}
        |武器3星={{{武器3星}}}
        |武器4星={{{武器4星}}}
        |武器5星={{{武器5星}}}
    }}
    {{StudentProfileObtainAndEquipment
        |获取方式={{{获取方式}}}
        |日服实装={{{日服实装}}}
        |国际服实装={{{国际服实装}}}
        |装备1={{{装备1}}}
        |装备2={{{装备2}}}
        |装备3={{{装备3}}}
    }}
    <div class="studentProfileSkillTable">
        <div>
            {{StudentProfileSkillEx
                |Ex技能名称={{{Ex技能名}}}
                |Ex技能费用={{{Ex技能费用}}}
                |学院名={{{所属学院}}}
                |Ex技能描述={{{Ex技能描述}}}
                |主材料={{{主材料}}}
                |Ex技能主材料数={{{Ex技能主材料数}}}
                |辅材料={{{辅材料}}}
                |Ex技能辅材料数={{{Ex技能辅材料数}}}
                |Ex技能图标={{{Ex技能图标}}}
            }}
        </div>
        <div>
            {{StudentProfileSkill1
                |普通技能名={{{普通技能名}}}
                |普通技能描述={{{普通技能描述}}}
                |普通技能图标={{{普通技能图标}}}
                |普通技能主材料数={{{普通技能主材料数}}}
                |普通技能辅材料数={{{普通技能辅材料数}}}
            }}
        </div>
        <div>
            {{StudentProfileSkill2
                |被动技能名={{{被动技能名}}}
                |被动技能描述={{{被动技能描述}}}
                |被动技能图标={{{被动技能图标}}}
            }}
        </div>
        <div>
            {{StudentProfileSkill3
                |附加技能名={{{附加技能名}}}
                |附加技能描述={{{附加技能描述}}}
                |附加技能图标={{{附加技能图标}}}
            }}
        </div>
  </div>
</div>

{{#css:
    .bui-sns-info {
        display: none !important;
    }
    @media all {
        .container {
            width: 100% !important;
        }
        .game-bg {
            margin: 0;
            padding: 0;
        }
    }
}}
