<div class="loader">StudentProfileDetailedInfo.css</div>
<div class="loader">StudentProfileDetailedInfo.js</div>
<div class="wiki-header"></div>
<div class="studentProfileDetailedInfoWrapper">
    <div class="enhancedArea" style="display:none">{{{强化地形}}}</div>
    <div class="detailedInfoTable">
        <div class="introduction">
            <div class="titleContainer">
                <div class="introductionTitle">
                    <p>基本情报</p>
                </div>
            </div>
            <div class="introductionText">
                <p>{{{基本情报概括}}}</p>
                <p>{{{基本情报}}}</p>
            </div>
        </div>
        <div class="properties">
            <div class="titleContainer">
                <div class="propertiesTitle">
                    <p>简介</p>
                </div>
            </div>
            <div class="basicProperties">
                <div class="propertyRow" id="teamType">
                    <p>{{{队伍}}}</p>
                </div>
                <div class="propertyRow">
                    <p id="role">{{{角色定位}}}</p>
                    <div id="roleIcon"></div>
                </div>
                <div class="propertyRow">
                    <p>{{{位置}}}</p>
                </div>
                <div class="propertyRow" id="attackType">
                    <p>{{{攻击类型}}}</p>
                </div>
                <div class="propertyRow" id="defenseType">
                    <p>{{{防御类型}}}</p>
                </div>
                <div class="propertyRow">
                    <p>{{{掩体}}}</p>
                </div>
            </div>
            <div class="areaProperties" style="white-space: nowrap">
                <div class="areaPropertyEntry">
                    <p class="areaText">市街</p>
                    <div class="areaIcon">[[File:Street.png|link=]]</div>
                    <div class="areaLine"></div>
                    <div class="areaGradeIcon">[[File:{{{市街}}}.png|link=]]</div>
                    <p class="areaGrade">{{{市街}}}</p>
                </div>
                <div class="areaPropertyEntry enhancedStreet" style="display:none">
                    <p class="areaEnhanceText">（强化后）</p>
                    <div class="areaGradeIcon">[[File:{{{强化}}}.png|link=]]</div>
                    <p class="areaGrade">{{{强化}}}</p>
                </div>
                <div class="areaPropertyEntry">
                    <p class="areaText">室外</p>
                    <div class="areaIcon">[[File:Outdoor.png|link=]]</div>
                    <div class="areaLine"></div>
                    <div class="areaGradeIcon">[[File:{{{室外}}}.png|link=]]</div>
                    <p class="areaGrade">{{{室外}}}</p>
                </div>
                <div class="areaPropertyEntry enhancedOutdoor" style="display:none">
                    <p class="areaEnhanceText">（强化后）</p>
                    <div class="areaGradeIcon">[[File:{{{强化}}}.png|link=]]</div>
                    <p class="areaGrade">{{{强化}}}</p>
                </div>
                <div class="areaPropertyEntry">
                    <p class="areaText">室内</p>
                    <div class="areaIcon">[[File:Indoor.png|link=]]</div>
                    <div class="areaLine"></div>
                    <div class="areaGradeIcon">[[File:{{{室内}}}.png|link=]]</div>
                    <p class="areaGrade">{{{室内}}}</p>
                </div>
                <div class="areaPropertyEntry enhancedIndoor" style="display:none">
                    <p class="areaEnhanceText">（强化后）</p>
                    <div class="areaGradeIcon">[[File:{{{强化}}}.png|link=]]</div>
                    <p class="areaGrade">{{{强化}}}</p>
                </div>
            </div>
        </div>
        <div class="weapon">
            <div class="weaponTitle">
                <div class="weaponType">
                    <p>{{{武器类型}}}</p>
                </div>
                <div class="weaponNameContainer">
                    <div class="weaponName">{{{武器名称}}}</div>
                </div>
            </div>
            <div class="weaponDescription">
                <p>{{{武器概括}}}</p>
                <p>{{{武器介绍}}}</p>
            </div>
            <div class="weaponImg">[[File:{{{武器图片}}}.png|link=]]</div>
            <div class="weaponStars">
                <div class="weaponStarEntry">
                    <p class="weaponStars">&#9733;2</p>
                    <p>{{{武器2星}}}</p>
                </div>
                <div class="weaponStarEntry">
                    <p class="weaponStars">&#9733;3</p>
                    <p>{{{武器3星}}}</p>
                </div>
                <div class="weaponStarEntry">
                    <p class="weaponStars">&#9733;4</p>
                    <p>{{{武器4星}}}</p>
                </div>
                <div class="weaponStarEntry">
                    <p class="weaponStars">&#9733;5</p>
                    <p>{{{武器5星}}}</p>
                </div>
            </div>
        </div>
    </div>
</div>