<div class="loader">StudentProfileSkillEx.css</div>
<div class="loader">StudentProfileSkillEx.js</div>
<div class="studentProfileSkillExWrapper">
    <div class="variables" style="display: none">
        <div class="school ">{{{学院名}}}</div>
        <div class="costs">{{{Ex技能费用}}}</div>
        <div class="descriptions">{{{Ex技能描述}}}</div>
        <div class="mainMaterial">{{{主材料}}}</div>
        <div class="mainMaterialCount">{{{Ex技能主材料数}}}</div>
        <div class="secondaryMaterial">{{{辅材料}}}</div>
        <div class="secondaryMaterialCount">{{{Ex技能辅材料数}}}</div>
    </div>
    <div class="skillTitle">
        <div class="skillType">
            <p>EX技能</p>
        </div>
        <div class="skillNameContainer">
            <div class="skillName">{{{Ex技能名称}}}</div>
        </div>
    </div>
    <div class="skillCostAndLevel">
        <div class="skillCostContainer">
            <p class="skillCost"></p>
        </div>

        <div class="skillLvSwapper">
            <div class="skillCurrentLv">Lv.5</div>
            <div class="skillLvSelector">
                <div class="skillLvButton">1</div>
                <div class="skillLvButton">2</div>
                <div class="skillLvButton">3</div>
                <div class="skillLvButton">4</div>
                <div class="skillLvButton" style="opacity: 0">5</div>
            </div>
        </div>
    </div>
    <div class="skillIconAndDescription">
        <div class="skillIconContainer">[[File:{{{Ex技能图标}}}.png|link=]]</div>
        <div class="skillDescription">
            <p class="skillText">

            </p>
        </div>
    </div>
    <div class="skillMaterials">
        <div class="skillMaterialTitleRow">
            <div class="skillMaterialTitle">满级所需素材</div>
            <div class="skillMaterialButton">[[File:Collapse.png|link=]]</div>
        </div>
        <div class="grid-container"></div>
    </div>
</div>