<div class="loader">StudentProfileSkill1.css</div>
<div class="loader">StudentProfileSkill1.js</div>
<div class="studentProfileSkill1Wrapper">
    <div class="variables" style="display: none">
        <div class="descriptions">{{{普通技能描述}}}</div>
        <div class="mainMaterialCount">{{{普通技能主材料数}}}</div>
        <div class="secondaryMaterialCount">{{{普通技能辅材料数}}}</div>
    </div>
    <div class="skillTitle">
        <div class="skillType">
            <p>普通技能</p>
        </div>
        <div class="skillNameContainer">
            <div class="skillName">{{{普通技能名}}}</div>
        </div>
    </div>
    <div class="skillCostAndLevel">
        <div class="skillLvSwapper">
            <div class="skillCurrentLv">Lv.10</div>
            <div class="skillLvSelector">
                <div class="skillLvButton">1</div>
                <div class="skillLvButton">2</div>
                <div class="skillLvButton">3</div>
                <div class="skillLvButton">4</div>
                <div class="skillLvButton">5</div>
                <div class="skillLvButton">6</div>
                <div class="skillLvButton">7</div>
                <div class="skillLvButton">8</div>
                <div class="skillLvButton">9</div>
                <div class="skillLvButton" style="opacity: 0">10</div>
            </div>
        </div>
    </div>
    <div class="skillIconAndDescription">
        <div class="skillIconContainer">[[File:{{{普通技能图标}}}.png|link=]]</div>
        <div class="skillDescription">
            <p class="skillText">
            </p>
        </div>
    </div>
    <div class="skillMaterials">
        <div class="skillMaterialTitleRow">
            <div class="skillMaterialTitle">满级所需素材</div>
            <div class="skillMaterialButton">[[File:Collapse.png|link=]]</div>
        </div>
        <div class="grid-container"></div>
    </div>
</div>