<div class="customNavigation">
    <div class="arona">
        
    </div>

    <div class="customNavbar">
        <div class="customNavbarButton">
            <div class="customNavbarButtonIcon">
                <img src="https://patchwiki.biligame.com/images/ba/e/e4/4nbwrpmailme8912lkvlzy9p3clf28h.svg">
            </div>
            <div class="customNavbarButtonText">
                首页
            </div>
        </div>
        <div class="customNavbarButton">
            <div class="customNavbarButtonIcon">
                <img src="https://patchwiki.biligame.com/images/ba/8/8c/azzpw8oeofvup8ch6c26hcfakjw0me1.svg">
            </div>
            <div class="customNavbarButtonText">
                图鉴
            </div>
        </div>
        <div class="customNavbarButton">
            <div class="customNavbarButtonIcon">
                <img src="https://patchwiki.biligame.com/images/ba/9/9f/gr7784eaijteidglvx3folrxiswoq5f.svg">
            </div>
            <div class="customNavbarButtonText">
                情报
            </div>
        </div>
        <div class="customNavbarButton">
            <div class="customNavbarButtonIcon">
                <img src="https://patchwiki.biligame.com/images/ba/0/0a/k5agqn9mgivjqkhfhbgx3anv30bl9nr.svg">
            </div>
            <div class="customNavbarButtonText">
                动态
            </div>
        </div>
        <div class="customNavbarButton">
            <div class="customNavbarButtonIcon">
                <img src="https://patchwiki.biligame.com/images/ba/9/90/2jo51y038qw8ih98c1xemgyl7i3yyl0.svg">
            </div>
            <div class="customNavbarButtonText">
                其他
            </div>
        </div>
    </div>
</div>
